body{
	margin: 0px;
	min-width: 1240px;
	font-family: 微软雅黑;
}

.head{
	width: 100%;
	height: 100px;
	background-color: #19B394;
}

.head{
	width: 100%;
	height: 95px;
	display: inline-block;
	background-color: #19B394;
}

.head-font{
	display: inline-block;
	/*width: 250px;
	height: 45px;*/
	width: 23%;
	height: 45px;
	overflow: hidden;
	font-size: 37px;
	color: #fff; 
	margin-top: 1.7%;
	margin-left: 3.1%;
	/*padding-top: 24px;
	padding-left: 30px;*/
	font-weight: bolder;
}

.admin{
	display: block;
	float: right;
	width: 400px;
	height: 100px;
}

.questions{
	float: right;
	margin-top: 33px;
	width: 140px;
	font-size: 16px;
	color: #fff;
}

.question-center{
	float: left;
	margin-top: 3px;
}

.admin-logo{
	float: right;
	margin-top: 35px;
	width: 210px;
	font-size: 16px;
	color: #fff;
}

.administrator{
	margin-top: -9px;
	margin-right: 15px;
	float: right;
}

.sidebar{
	display: inline-block;
	width: 16%;
	height: 800px;
	background-color: #3B4551;
}

.block{
	margin-top: 78px;
	height: 240px;
	width: 100%;
}

.block1,.block2,.block3,.block4{
	display: inline-block;
	width: 100%;
	height: 60px;
	font-size: 130%;
	text-align: center;
}

.block-a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-top: 15px;
	width: 100%;
}

.block-img{
	display: inline-block;
	position: relative;
	margin-left: 12%;
}

.block-word{
	display: inline-block;
	float: right;
	margin-top: 2px;
	margin-right: 23%;
	width: 40%;
	height: 30px;
	overflow: hidden;
}

.block1:hover{
	background-color: #36414D;
	color: #19B394;
}

.block2:hover{
	background-color: #36414D;
}

.block3:hover{
	background-color: #36414D;
}

.block4:hover{
	background-color: #36414D;
}

.block-a:hover{
	color: #19B394;
}

.content{
	width: 84%;
	height: 800px;
	background-image: url(..//image//bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	float: right;
	
}

.overview{
	width: 97.5%;
	height: 100%;
	margin: 0 auto;
	opacity: .86;
}

.head1{
	border: 2px #E79C44 solid;
	width: 34%;
	height: 6%;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px #ffffff solid;
	background-color: #D7D1C6;
	/*opacity: .8;*/
	display: inline-block;
	
}

.head11{
	display: inline-block;
	width: 100%;
	height: 85%;
	margin-top: 2.5%;
	text-align: center;
	font-size: 21px;
	color: #403E3B;
}

.head2{
	border-left: 2px #E79C44 solid;
	border-top: 2px #E79C44 solid;
	width: 100%;
	height: 93.2%;
	background-color: #D7D1C6;
	/*opacity: .8;*/
	float: left;
}

.hrleft{
	width: 46%;
	float: left;
	height: 1.4px;
	background-color: gray;
	border: 0px;
	margin-top: 15px;
}

.hrright{
	width: 46%;
	float: right;
	height: 1.4px;
	background-color: gray;
	border: 0px;
	margin-top: 15px;
}

.headfont{
	font-size: 14px;
}

.div1{
	width: 100%;
	height: 23%;
	margin-top: 6px;

}

.div1_img{
	position: relative;
	width: 13.2%;
	height: 85%;
	margin-left: 6%;
	margin-top: 1.3%;
	border: 1px #6C6C6B solid;
	display: inline-block;
}

#imgid{
	width: 100%;
	height: 100%;
	opacity: 1.0;
}

.div1_input{
	width: 77.5%;
	height: 80%;
	margin-top: 1.5%;
	float: right;
	font-size: 15px;
	color: #F99522;
}

.input1{
	margin-top: 2%;
	margin-right: 20%;
}

.calendar{
	position: absolute;	
	border: 1px #A5A4A3 solid;
	display: block;
	margin-left: 45.1%;
	margin-top: -1.5%;
	width: 19px;
	height: 19px;
	background-color: #fff;
}

#imgid2{
	width: 180%;
	height: 180%;
	position: relative;
	top: -35%;
	left: -42%;
}


.div2{
	width: 100%;
	height: 68%;
	margin-top: 6px;
}

.div2_input{
	margin-left: 6%;
	width: 83%;
	height: 90%;
	margin-top: 1.5%;
	float: left;
	font-size: 15px;
	color: #F99522;
}

.input2{
	margin-right: 6%;
	margin-bottom: 2%;
}

.textarea{
	width: 88%;
	height: 35%;
	float: right;
	margin-top: -7.5%;
	margin-right: 6%;
	overflow-y: scroll;
	resize: none;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.div2_input_button1{
	width: 13%;
	height: 8%;
	background-color: #F98F15;
	border-radius: 10px;
	outline: none;
	float: right;
	margin-right: 8%;
	margin-top: 7%;
}

.div2_input_button2{
	width: 13%;
	height: 8%;
	background-color: #0EBD54;
	border-radius: 10px;
	outline: none;
	float: right;
	margin-right: 2%;
	margin-top: 7%;
	cursor: pointer;
}

.upload{
	position: absolute;
	z-index: 20;
	width: 25%;
	height: 45%;
	left: 44%;
	top: 35.3%;
	border: 2px #A4A3A1 solid;
	display: none;
	background-color: #E5E5E5;
	opacity: .8;
}

.upload_1{
	display: block;
	width: 100%;
	height: 13%;
	margin-top: 3%;
	font-size: 24px;
	color: #F9921C;
	text-align: center;
}

.upload_2{
	padding-left: 10%;
	font-size: 14px;
	text-align: left;
	margin-top: 3%;
}

.upload_3{
	display: block;
	width: 100%;
	height: 13%;
	margin-top: 8%;
	font-size: 16px;
	color: #F9921C;
	text-align: center;
}

.upload_4{
	width: 23%;
	height: 8%;
	background-color: #C1BEBB;
	border-radius: 10px;
	outline: none;
	float: right;
	margin-right: 2%;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}