body{
	margin: 0px;
	min-width: 1240px;
	font-family: 微软雅黑;
}

.head{
	width: 100%;
	height: 95px;
	display: inline-block;
	background-color: #19B394;
}

.head-font{
	display: inline-block;
	/*width: 250px;
	height: 45px;*/
	width: 23%;
	height: 45px;
	overflow: hidden;
	font-size: 37px;
	color: #fff; 
	margin-top: 1.7%;
	margin-left: 3.1%;
	/*padding-top: 24px;
	padding-left: 30px;*/
	font-weight: bolder;
}

.admin{
	display: block;
	float: right;
	width: 400px;
	height: 100px;
}

.questions{
	float: right;
	margin-top: 33px;
	width: 140px;
	font-size: 16px;
	color: #fff;
}

.question-center{
	float: left;
	margin-top: 3px;
}

.admin-logo{
	float: right;
	margin-top: 35px;
	width: 210px;
	font-size: 16px;
	color: #fff;
}

.administrator{
	margin-top: -9px;
	margin-right: 15px;
	float: right;
}

.sidebar{
	display: inline-block;
	width: 16%;
	height: 800px;
	background-color: #3B4551;
}

.block{
	margin-top: 78px;
	height: 240px;
	width: 100%;
}

.block1,.block2,.block3,.block4{
	display: inline-block;
	width: 100%;
	height: 60px;
	font-size: 130%;
	text-align: center;
}

.block-a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-top: 15px;
	width: 100%;
}

.block-img{
	display: inline-block;
	position: relative;
	margin-left: 12%;
}

.block-word{
	display: inline-block;
	float: right;
	margin-top: 2px;
	margin-right: 23%;
	width: 40%;
	height: 30px;
	overflow: hidden;
}

.block1:hover{
	background-color: #36414D;
	color: #19B394;
}

.block2:hover{
	background-color: #36414D;
}

.block3:hover{
	background-color: #36414D;
}

.block4:hover{
	background-color: #36414D;
}

.block-a:hover{
	color: #19B394;
}

.content{
	width: 84%;
	height: 800px;
	background-image: url(..//image//bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	float: right;
	
}

.overview{
	width: 97.5%;
	height: 100%;
	margin: 0 auto;
	opacity: .75;
}

.head1{
	border: 2px #E79C44 solid;
	width: 30%;
	height: 5%;
	border-radius: 10px 10px 0px 0px;
	border-bottom: none;
	border-right: none;
	background-color: #D7D1C6;
	display: block;
	float: left;
}

.head2{
	border: 2px #E79C44 solid;
	width: 30%;
	height: 5%;
	border-radius: 10px 10px 0px 0px;
	border-bottom: none;
	border-left: none;
	background-color: #E79C44;
	display: block;
	float: left;
}



.head11{
	display: inline-block;
	width: 100%;
	height: 85%;
	margin-top: 2.5%;
	text-align: center;
	font-size: 21px;
	color: #403E3B;
}

.head3{
	border-left: 2px #E79C44 solid;
	border-top: 2px #E79C44 solid;
	width: 100%;
	height: 93.2%;
	background-color: #D7D1C6;
	/*opacity: .8;*/
	float: left;
}

.cover1{
	width: 30%;
	height: 2.3px;
	background-color: #D7D1C6;
	margin-top: -2.3px;
}

.cover2{
	width: 30%;
	height: 2.3px;
	background-color: #E79C44;
	margin-top: -2.3px;
	margin-left: 30%;
}

.head3_1{
	width: 99.9%;
	height: auto;
	display: block;
}

.head3_1_1{
	width: 100%;
	text-align: center;
	font-size: 15px;
	height: auto;
}

.head3_2{
	width: 99.9%;
	height: auto;
	display: none;
}
